
#password_algorithms ul {
    display: flex;
    
}

#password_algorithms ul li{
    width: 33%;
    text-align: center;
    
    padding: 10px;
}

#password_algorithms ul li:hover {
    background-color: #efefef;
}

#password_algorithms a{
    color: #EC008C;
}

#password_algorithms a:hover, #password_algorithms ul li:hover a{
    color: #EC008C;
    text-decoration: none;
}
