
#password_generate label{
    width: 100%; 
    display: block;
    color: #44C7F5;
    text-align: center;
    margin-bottom: 10px;
}

#password_generate li{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

#password_generate .generated_password{
    color: #eee;
}