@model masterView.ViewModels.Password.PasswordViewModel
@{
    Layout = "_PasswordLayout";
}

@section Styles{
<link rel="stylesheet" href="~/css/password_generator.css" />
}

<main id="password_generator">
    <h1>Password generator</h1>
    <form 
        asp-route="password.generate"
        asp-route-algo="@Model.Algo" 
        method="Post">
        <div class="form-group">
            <input asp-for="Password" class="form-control" type="password"/>
        </div>
        <input type="hidden" asp-for="Algo" />
        <div class="form-group">
            <input type="submit" value="generate" class="btn btn-primary pink" />
        </div>
    </form>
</main>

@section footer{
    <div>password generator - <span class="footerColor">@Model.Algo</span></div>
}

